In [1]:
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   # 임의로 지정한 컬럼명
data = pd.read_csv(fname, sep='\t', names= col_names)      # sep='\t'로 주어야 tsv를 열 수 있습니다.  
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [3]:
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [4]:
data['artist'] = data['artist'].str.lower() # 검색을 쉽게하기 위해 아티스트 문자열을 소문자로 바꿔줍시다.
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [5]:
data['artist'] = data['artist'].str.lower() # 검색을 쉽게하기 위해 아티스트 문자열을 소문자로 바꿔줍시다.
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [6]:
condition = (data['user_id']== data.loc[0, 'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

In [7]:
# 유저 수
data['user_id'].nunique()

358868

In [8]:
# 아티스트 수
data['artist'].nunique()

291346

In [9]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [10]:
# 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [11]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

In [12]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ['black eyed peas' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncé']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

In [13]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [14]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx['zimin'])    # 358869명의 유저 중 마지막으로 추가된 유저이니 358868이 나와야 합니다. 
print(artist_to_idx['black eyed peas'])

358868
376

In [15]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

In [16]:
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  # f-format에 대한 설명은 https://bit.ly/2DTLqYU

147740,17535660
Ratio of only_one over all data is 0.84%

In [17]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.longlong'>'
	with 17535578 stored elements in Compressed Sparse Row format>

In [18]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [19]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [20]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.longlong'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [21]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

In [23]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

print('슝=3')

슝=3

In [24]:
zimin_vector

array([-0.23723128,  0.5234377 ,  0.06385537, -0.9248879 , -0.4416162 ,
       -0.03776992,  0.64747256,  0.08281823, -0.3122774 , -0.40471768,
        0.06571499, -0.61273634, -0.59013957,  1.1294258 ,  0.21708629,
        0.17526753,  0.19096841,  0.63790494, -0.20317245, -0.13452509,
        0.662281  , -0.52904296,  0.29424265,  0.11695068,  0.8200851 ,
        0.14896321, -0.2258019 ,  0.22036529, -1.7854135 ,  0.1432639 ,
        0.44786605,  0.8110736 , -0.18886968, -1.0688617 ,  0.9322663 ,
        0.10765279,  0.9372522 ,  0.3751251 ,  0.6790362 , -0.15725563,
        0.25722513, -0.798145  , -0.5003007 ,  1.3550876 ,  0.5007405 ,
       -1.052996  , -0.30053928,  0.03961574, -0.15800859,  0.9835719 ,
       -0.2816252 , -0.11008736,  0.98935276, -0.13068499, -0.7193111 ,
        1.0749401 , -1.2453644 ,  0.9826022 , -0.6336779 ,  0.15413441,
        0.29288262,  1.3207049 ,  0.43520048, -0.01952631, -0.04841237,
       -0.4998423 , -0.36793867, -0.45815513,  0.33281618, -0.4347372 ,
        0.15231478, -0.4422961 ,  0.4228499 ,  0.09093324,  0.40498984,
        0.39951563, -0.00662534, -0.15693714,  0.34381798,  1.1046277 ,
       -1.1978592 , -0.5340462 , -0.2951723 , -0.24379207,  0.7904448 ,
        0.10605264,  0.7910706 , -0.0540741 , -0.15823531,  0.14869781,
        0.01461367,  1.1367948 ,  0.1916646 , -0.10007193, -0.8881645 ,
       -0.13834272,  1.1227373 , -1.9170302 , -0.14546788, -1.0906684 ],
      dtype=float32)

In [25]:
black_eyed_peas_vector

array([ 0.00912167,  0.02876226,  0.0095839 , -0.00890549, -0.00019156,
        0.00314639,  0.00842849,  0.00955825,  0.01843577,  0.00306923,
        0.00747792,  0.02188544, -0.00844047,  0.00794694,  0.00095146,
        0.00055544, -0.00212259,  0.02365175,  0.00978703,  0.00414592,
        0.01913599,  0.02156657,  0.00619232, -0.0025908 ,  0.01944959,
        0.00648259, -0.0046084 ,  0.00813133, -0.01287312, -0.00674827,
        0.01946358,  0.01981679,  0.00142321, -0.01342522,  0.02314642,
        0.0045559 ,  0.02684971,  0.00193235,  0.00447812, -0.0011027 ,
        0.01737347, -0.01533697, -0.00252105,  0.01847798,  0.00105631,
       -0.01739472, -0.0001885 , -0.01231331, -0.0059438 ,  0.0194724 ,
       -0.00035963, -0.00595208,  0.03372879,  0.01233934,  0.00630207,
        0.01683015, -0.00808982,  0.03157112, -0.00618652,  0.00118584,
        0.00660111,  0.02337706, -0.00431313,  0.01261092,  0.01974331,
        0.00277019,  0.01096196, -0.00087381, -0.00802942,  0.01208609,
        0.01427699, -0.00372819,  0.00514571,  0.01564923,  0.01591732,
        0.0186943 ,  0.01304776,  0.00817098,  0.01097792,  0.01148163,
       -0.0110118 ,  0.00421262,  0.0091155 , -0.00037404,  0.01044102,
        0.01625317,  0.01896046,  0.00993392,  0.00845196,  0.00757797,
        0.00723041,  0.02091492,  0.01738779, -0.00538662, -0.00596663,
        0.00541606,  0.01011662, -0.00649577, -0.00359624, -0.00360527],
      dtype=float32)

In [26]:
# zimin과 black_eyed_peas를 내적하는 코드
np.dot(zimin_vector, black_eyed_peas_vector)

0.48816276

In [27]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.27871144

In [28]:
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 1.0000001),
 (277, 0.984575),
 (28, 0.9817521),
 (5, 0.9803857),
 (490, 0.9731708),
 (217, 0.96646744),
 (473, 0.9649085),
 (694, 0.96145654),
 (418, 0.96059453),
 (247, 0.9574933),
 (910, 0.94813424),
 (1018, 0.9446165),
 (268, 0.9394058),
 (782, 0.9353937),
 (55, 0.9320552)]

In [29]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'the killers',
 'red hot chili peppers',
 'oasis',
 'radiohead',
 'placebo',
 'foo fighters',
 'u2',
 'the beatles',
 'nirvana',
 'the smashing pumpkins',
 'pink floyd',
 'the white stripes',
 'arctic monkeys']

In [30]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

print("슝=3")

슝=3

In [31]:
get_similar_artist('2pac')

['2pac',
 'nas',
 'notorious b.i.g.',
 'the game',
 'snoop dogg',
 'dr. dre',
 'ice cube',
 'jay-z',
 '50 cent',
 'ludacris']

In [32]:
get_similar_artist('lady gaga')

['lady gaga',
 'britney spears',
 'rihanna',
 'katy perry',
 'beyoncé',
 'the pussycat dolls',
 'christina aguilera',
 'kelly clarkson',
 'pink',
 'leona lewis']

In [33]:
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(350, 0.44455975),
 (369, 0.44158816),
 (550, 0.43108368),
 (274, 0.42307413),
 (354, 0.4089775),
 (627, 0.40111187),
 (1800, 0.39828986),
 (5555, 0.3937204),
 (564, 0.3726542),
 (2249, 0.3687845),
 (391, 0.36444467),
 (409, 0.36421773),
 (618, 0.3631754),
 (382, 0.3559606),
 (355, 0.35572535),
 (35, 0.35198373),
 (28, 0.35175836),
 (2902, 0.35163474),
 (24, 0.34758818),
 (621, 0.34715813)]

In [34]:
[idx_to_artist[i[0]] for i in artist_recommended]

['rihanna',
 'justin timberlake',
 'britney spears',
 'michael jackson',
 'nelly furtado',
 'maroon 5',
 'lady gaga',
 'timbaland',
 'kanye west',
 'katy perry',
 'christina aguilera',
 'amy winehouse',
 'the pussycat dolls',
 'mika',
 'madonna',
 'john mayer',
 'the killers',
 'james blunt',
 'jack johnson',
 'alicia keys']

In [35]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

In [36]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.22334340834351704),
 ('black eyed peas', 0.1256250223545923),
 ('jason mraz', 0.05275748779824393),
 ('coldplay', 0.04455371003178385),
 ('maroon5', 0.00037617581335672076)]

# 영화 추천 실습

In [158]:
import pandas as pd
import os
from scipy.sparse import csr_matrix
from implicit.als import AlternatingLeastSquares
import numpy as np
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [159]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [160]:
# rating 컬럼의 이름을 count로 바꿉니다.
ratings.rename(columns={'rating':'count1'}, inplace=True)

In [161]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies['title'] = movies['title'].str.lower() # 검색을 위해 소문자 변경
movies.head()

   movie_id                               title                         genre
0         1                    toy story (1995)   Animation|Children's|Comedy
1         2                      jumanji (1995)  Adventure|Children's|Fantasy
2         3             grumpier old men (1995)                Comedy|Romance
3         4            waiting to exhale (1995)                  Comedy|Drama
4         5  father of the bride part ii (1995)                        Comedy

In [162]:
title = movies['title'].values
movie_id = movies['movie_id'].values
movie_dic = {movie_id:title for movie_id ,title in zip(movie_id,title)}

In [163]:
ratings_movie_id = ratings['movie_id'].values
ratings_movie_id

array([1193,  661,  914, ...,  562, 1096, 1097])

In [164]:
ratings_movie_name = []
for i in ratings_movie_id:
    if i in movie_dic.keys():
        ratings_movie_name.append(movie_dic[i])

In [165]:
ratings_movie_name

["one flew over the cuckoo's nest (1975)",
 'james and the giant peach (1996)',
 'my fair lady (1964)',
 'erin brockovich (2000)',
 "bug's life, a (1998)",
 'princess bride, the (1987)',
 'ben-hur (1959)',
 'christmas story, a (1983)',
 'snow white and the seven dwarfs (1937)',
 'wizard of oz, the (1939)',
 'beauty and the beast (1991)',
 'gigi (1958)',
 'miracle on 34th street (1947)',
 "ferris bueller's day off (1986)",
 'sound of music, the (1965)',
 'airplane! (1980)',
 'tarzan (1999)',
 'bambi (1942)',
 'awakenings (1990)',
 'big (1988)',
 'pleasantville (1998)',
 'wallace & gromit: the best of aardman animation (1996)',
 'back to the future (1985)',
 "schindler's list (1993)",
 'meet joe black (1998)',
 'pocahontas (1995)',
 'e.t. the extra-terrestrial (1982)',
 'titanic (1997)',
 'ponette (1996)',
 'close shave, a (1995)',
 'antz (1998)',
 'girl, interrupted (1999)',
 'hercules (1997)',
 'aladdin (1992)',
 'mulan (1998)',
 'hunchback of notre dame, the (1996)',
 'last days of disco, the (1998)',
 'cinderella (1950)',
 'sixth sense, the (1999)',
 'apollo 13 (1995)',
 'toy story (1995)',
 'rain man (1988)',
 'driving miss daisy (1989)',
 'run lola run (lola rennt) (1998)',
 'star wars: episode iv - a new hope (1977)',
 'mary poppins (1964)',
 'dumbo (1941)',
 'to kill a mockingbird (1962)',
 'saving private ryan (1998)',
 'secret garden, the (1993)',
 'toy story 2 (1999)',
 'fargo (1996)',
 'dead poets society (1989)',
 'shine (1996)',
 'verdict, the (1982)',
 'shall we dance? (shall we dansu?) (1996)',
 'courage under fire (1996)',
 'untouchables, the (1987)',
 'mission: impossible (1996)',
 'few good men, a (1992)',
 'star wars: episode i - the phantom menace (1999)',
 'rebel without a cause (1955)',
 'total recall (1990)',
 'hustler, the (1961)',
 'star wars: episode vi - return of the jedi (1983)',
 'u.s. marshalls (1998)',
 'jackal, the (1997)',
 'gladiator (2000)',
 'double jeopardy (1999)',
 'yojimbo (1961)',
 'ran (1985)',
 'awakenings (1990)',
 'snake eyes (1998)',
 'fisher king, the (1991)',
 'mister roberts (1955)',
 'day the earth stood still, the (1951)',
 'hunt for red october, the (1990)',
 'outbreak (1995)',
 'simon birch (1998)',
 'stand and deliver (1987)',
 'maverick (1994)',
 'stand by me (1986)',
 'green mile, the (1999)',
 'lost world: jurassic park, the (1997)',
 'gandhi (1982)',
 'strictly ballroom (1992)',
 'league of their own, a (1992)',
 'bodyguard, the (1992)',
 'braveheart (1995)',
 'ronin (1998)',
 'payback (1999)',
 'spanish prisoner, the (1997)',
 'close encounters of the third kind (1977)',
 'terminator 2: judgment day (1991)',
 'alien: resurrection (1997)',
 'guns of navarone, the (1961)',
 "soldier's story, a (1984)",
 'on the waterfront (1954)',
 'picnic (1955)',
 'misérables, les (1998)',
 'american beauty (1999)',
 'amadeus (1984)',
 'saving private ryan (1998)',
 'remains of the day, the (1993)',
 'demolition man (1993)',
 'children of a lesser god (1986)',
 'like water for chocolate (como agua para chocolate) (1992)',
 'last of the mohicans, the (1992)',
 'bonnie and clyde (1967)',
 'jurassic park (1993)',
 'prefontaine (1997)',
 'doctor zhivago (1965)',
 'groundhog day (1993)',
 'die hard 2 (1990)',
 "one flew over the cuckoo's nest (1975)",
 'man in the iron mask, the (1998)',
 'star trek vi: the undiscovered country (1991)',
 'enemy of the state (1998)',
 'key largo (1948)',
 'dances with wolves (1990)',
 'star wars: episode v - the empire strikes back (1980)',
 'con air (1997)',
 'twister (1996)',
 'raiders of the lost ark (1981)',
 'silence of the lambs, the (1991)',
 'waking ned devine (1998)',
 'ghostbusters ii (1989)',
 'matrix, the (1999)',
 'armageddon (1998)',
 'shakespeare in love (1998)',
 'serpico (1973)',
 'french connection, the (1971)',
 'conspiracy theory (1997)',
 'what about bob? (1991)',
 'rocky (1976)',
 'kramer vs. kramer (1979)',
 'ed wood (1994)',
 'on golden pond (1981)',
 'chariots of fire (1981)',
 'desperado (1995)',
 'die hard: with a vengeance (1995)',
 'pleasantville (1998)',
 'true lies (1994)',
 'october sky (1999)',
 'clear and present danger (1994)',
 'fugitive, the (1993)',
 "sophie's choice (1982)",
 'gone with the wind (1939)',
 'getaway, the (1994)',
 'fifth element, the (1997)',
 'thelma & louise (1991)',
 'under siege (1992)',
 "guess who's coming to dinner (1967)",
 'grapes of wrath, the (1940)',
 'independence day (id4) (1996)',
 'mr. jones (1993)',
 'spartacus (1960)',
 'lethal weapon 3 (1992)',
 'driving miss daisy (1989)',
 'as good as it gets (1997)',
 'indochine (1992)',
 'mask of zorro, the (1998)',
 'shawshank redemption, the (1994)',
 'to kill a mockingbird (1962)',
 'man with the golden arm, the (1955)',
 'manhattan (1979)',
 'forrest gump (1994)',
 'dead poets society (1989)',
 'graduate, the (1967)',
 'animal house (1978)',
 'mission: impossible (1996)',
 'raising arizona (1987)',
 '28 days (2000)',
 'happy gilmore (1996)',
 'golden child, the (1986)',
 'star wars: episode vi - return of the jedi (1983)',
 'beverly hills ninja (1997)',
 'naked gun: from the files of police squad!, the (1988)',
 'fish called wanda, a (1988)',
 'being john malkovich (1999)',
 'edge, the (1997)',
 'indiana jones and the last crusade (1989)',
 'stand by me (1986)',
 'dragonheart (1996)',
 'blade (1998)',
 'men in black (1997)',
 'star wars: episode iv - a new hope (1977)',
 'american beauty (1999)',
 'toy story 2 (1999)',
 'ghost and the darkness, the (1996)',
 'three musketeers, the (1993)',
 'jurassic park (1993)',
 'unforgiven (1992)',
 'rock, the (1996)',
 'star wars: episode v - the empire strikes back (1980)',
 'dances with wolves (1990)',
 "bug's life, a (1998)",
 'princess bride, the (1987)',
 'raiders of the lost ark (1981)',
 'young guns (1988)',
 'silence of the lambs, the (1991)',
 'young guns ii (1990)',
 'caddyshack (1980)',
 'butch cassidy and the sundance kid (1969)',
 'back to the future (1985)',
 'crocodile dundee (1986)',
 'easy rider (1969)',
 'rain man (1988)',
 'blazing saddles (1974)',
 'mask of zorro, the (1998)',
 'deliverance (1972)',
 'indiana jones and the temple of doom (1984)',
 'breakfast club, the (1985)',
 'monty python and the holy grail (1974)',
 'little mermaid, the (1989)',
 'hustler, the (1961)',
 'star wars: episode vi - return of the jedi (1983)',
 'fistful of dollars, a (1964)',
 'alien (1979)',
 'die hard (1988)',
 'star wars: episode iv - a new hope (1977)',
 'saving private ryan (1998)',
 'jurassic park (1993)',
 'raiders of the lost ark (1981)',
 'rocky (1976)',
 'e.t. the extra-terrestrial (1982)',
 'thelma & louise (1991)',
 'mad max (1979)',
 'king kong (1933)',
 'jaws (1975)',
 'good, the bad and the ugly, the (1966)',
 'run lola run (lola rennt) (1998)',
 'goldfinger (1964)',
 'terminator, the (1984)',
 'who framed roger rabbit? (1988)',
 'gods and monsters (1998)',
 'delicatessen (1991)',
 'clueless (1995)',
 'velvet goldmine (1998)',
 'love! valour! compassion! (1997)',
 'citizen ruth (1996)',
 'donnie brasco (1997)',
 'wings of the dove, the (1997)',
 'bound (1996)',
 'mrs. dalloway (1997)',
 'bowfinger (1999)',
 'before sunrise (1995)',
 'four days in september (1997)',
 'orlando (1993)',
 'bridge on the river kwai, the (1957)',
 'piano, the (1993)',
 'richard iii (1995)',
 'hunt for red october, the (1990)',
 'pokémon the movie 2000 (2000)',
 'being john malkovich (1999)',
 'seven (se7en) (1995)',
 'south park: bigger, longer and uncut (1999)',
 'pulp fiction (1994)',
 'celluloid closet, the (1995)',
 'l.a. confidential (1997)',
 'cold comfort farm (1995)',
 'priest (1994)',
 'ravenous (1999)',
 'x-files: fight the future, the (1998)',
 'don juan demarco (1995)',
 'death and the maiden (1994)',
 'insider, the (1999)',
 'american beauty (1999)',
 'beautiful thing (1996)',
 'remains of the day, the (1993)',
 'usual suspects, the (1995)',
 'paris is burning (1990)',
 'sleepy hollow (1999)',
 'speed (1994)',
 'enemy of the state (1998)',
 'all about my mother (todo sobre mi madre) (1999)',
 'thin red line, the (1998)',
 'faculty, the (1998)',
 "bug's life, a (1998)",
 'pecker (1998)',
 'pillow book, the (1995)',
 'out of sight (1998)',
 'silence of the lambs, the (1991)',
 'waking ned devine (1998)',
 'ghostbusters (1984)',
 'liar liar (1997)',
 'matrix, the (1999)',
 'player, the (1992)',
 'crumb (1994)',
 'creepshow (1982)',
 'good will hunting (1997)',
 'topsy-turvy (1999)',
 'edward scissorhands (1990)',
 'ice storm, the (1997)',
 'trick (1999)',
 'mystery men (1999)',
 'pi (1998)',
 "there's something about mary (1998)",
 'go (1999)',
 'night of the living dead (1968)',
 'wild reeds (1994)',
 'men with guns (1997)',
 'shawshank redemption, the (1994)',
 'living in oblivion (1995)',
 'go fish (1994)',
 'fargo (1996)',
 "jackie chan's first strike (1996)",
 'office killer (1997)',
 'mrs. brown (her majesty, mrs. brown) (1997)',
 'sweet hereafter, the (1997)',
 'fast, cheap & out of control (1997)',
 'strawberry and chocolate (fresa y chocolate) (1993)',
 'poseidon adventure, the (1972)',
 'goodfellas (1990)',
 'love and death on long island (1997)',
 'election (1999)',
 'grosse pointe blank (1997)',
 'fight club (1999)',
 'all over me (1997)',
 'washington square (1997)',
 'north by northwest (1959)',
 'men in black (1997)',
 'babe: pig in the city (1998)',
 'jackie brown (1997)',
 "jacob's ladder (1990)",
 'three kings (1999)',
 'casino (1995)',
 'like water for chocolate (como agua para chocolate) (1992)',
 "billy's hollywood screen kiss (1997)",
 'smoke (1995)',
 'nightmare before christmas, the (1993)',
 "romy and michele's high school reunion (1997)",
 'incredibly true adventure of two girls in love, the (1995)',
 'happiness (1998)',
 'austin powers: international man of mystery (1997)',
 'reservoir dogs (1992)',
 'howards end (1992)',
 'maltese falcon, the (1941)',
 'kundun (1997)',
 'erin brockovich (2000)',
 'final destination (2000)',
 'waiting for guffman (1996)',
 'big lebowski, the (1998)',
 'afterglow (1997)',
 'little voice (1998)',
 'my life in pink (ma vie en rose) (1997)',
 'mariachi, el (1992)',
 'wizard of oz, the (1939)',
 'shanghai noon (2000)',
 'rushmore (1998)',
 'austin powers: the spy who shagged me (1999)',
 'dick (1999)',
 'big night (1996)',
 'fear and loathing in las vegas (1998)',
 'opposite of sex, the (1998)',
 'madness of king george, the (1994)',
 'bullets over broadway (1994)',
 'cruise, the (1998)',
 'city of lost children, the (1995)',
 'welcome to the dollhouse (1995)',
 'glengarry glen ross (1992)',
 'fifth element, the (1997)',
 'nowhere (1997)',
 'thelma & louise (1991)',
 'much ado about nothing (1993)',
 "boys don't cry (1999)",
 'sixth sense, the (1999)',
 'run lola run (lola rennt) (1998)',
 'misery (1990)',
 'twelve monkeys (1995)',
 'rosencrantz and guildenstern are dead (1990)',
 'high art (1998)',
 'bob roberts (1992)',
 "but i'm a cheerleader (1999)",
 'babe (1995)',
 'dead man walking (1995)',
 'dead man (1995)',
 'romancing the stone (1984)',
 'top gun (1986)',
 'gone in 60 seconds (2000)',
 "pete's dragon (1977)",
 'anastasia (1997)',
 'sound of music, the (1965)',
 'gladiator (2000)',
 'lion king, the (1994)',
 "murphy's romance (1985)",
 'moonstruck (1987)',
 'maverick (1994)',
 'pocahontas (1995)',
 'jeremiah johnson (1972)',
 'strictly ballroom (1992)',
 'outlaw josey wales, the (1976)',
 'aladdin (1992)',
 'toy story (1995)',
 'to gillian on her 37th birthday (1996)',
 'speed (1994)',
 'dances with wolves (1990)',
 'beauty and the beast (1991)',
 'pretty woman (1990)',
 'wyatt earp (1994)',
 'other sister, the (1999)',
 'arthur (1981)',
 'hercules (1997)',
 "my best friend's wedding (1997)",
 'mask of zorro, the (1998)',
 'little mermaid, the (1989)',
 'mighty ducks, the (1992)',
 'blue hawaii (1961)',
 'gypsy (1962)',
 'tequila sunrise (1988)',
 '28 days (2000)',
 'keeping the faith (2000)',
 'star wars: episode vi - return of the jedi (1983)',
 'patriot, the (2000)',
 'magnum force (1973)',
 'babes in toyland (1961)',
 "prizzi's honor (1985)",
 'roustabout (1964)',
 'room with a view, a (1986)',
 'emma (1996)',
 'apple dumpling gang, the (1975)',
 'west side story (1961)',
 'straight story, the (1999)',
 'legends of the fall (1994)',
 'sense and sensibility (1995)',
 'starman (1984)',
 'benny & joon (1993)',
 'dirty dancing (1987)',
 'casablanca (1942)',
 'umbrellas of cherbourg, the (parapluies de cherbourg, les) (1964)',
 'my fair lady (1964)',
 'erin brockovich (2000)',
 'paulie (1998)',
 'shanghai noon (2000)',
 'peggy sue got married (1986)',
 'shakespeare in love (1998)',
 'splash (1984)',
 'out of africa (1985)',
 'pleasantville (1998)',
 'grease (1978)',
 'gone with the wind (1939)',
 'little big league (1994)',
 'witness (1985)',
 'where the heart is (2000)',
 'mary poppins (1964)',
 'babe (1995)',
 'mission: impossible (1996)',
 'supercop (1992)',
 'total recall (1990)',
 'gladiator (2000)',
 'x-men (2000)',
 'hunt for red october, the (1990)',
 'terminator 2: judgment day (1991)',
 'heat (1995)',
 'demolition man (1993)',
 'rock, the (1996)',
 'speed (1994)',
 'enemy of the state (1998)',
 'star wars: episode v - the empire strikes back (1980)',
 'matrix, the (1999)',
 'true lies (1994)',
 'exorcist, the (1973)',
 'back to the future (1985)',
 'fugitive, the (1993)',
 'face/off (1997)',
 'patriot, the (2000)',
 'backdraft (1991)',
 'in the line of fire (1993)',
 'tomorrow never dies (1997)',
 'patriot games (1992)',
 'men in black (1997)',
 'braveheart (1995)',
 'godfather: part ii, the (1974)',
 'saving private ryan (1998)',
 'jurassic park (1993)',
 'clear and present danger (1994)',
 'thelma & louise (1991)',
 'clueless (1995)',
 'elizabeth (1998)',
 'natural born killers (1994)',
 "mo' better blues (1990)",
 'few good men, a (1992)',
 'donnie brasco (1997)',
 'jerry maguire (1996)',
 'truman show, the (1998)',
 'total recall (1990)',
 'orlando (1993)',
 'philadelphia (1993)',
 'batman: mask of the phantasm (1993)',
 'dead presidents (1995)',
 'moll flanders (1996)',
 'mr. saturday night (1992)',
 'pulp fiction (1994)',
 'green mile, the (1999)',
 'cider house rules, the (1999)',
 'summer of sam (1999)',
 'ronin (1998)',
 'private parts (1997)',
 'terminator 2: judgment day (1991)',
 'last days of disco, the (1998)',
 'amistad (1997)',
 'apollo 13 (1995)',
 'rob roy (1995)',
 'toy story (1995)',
 'poetic justice (1993)',
 'waiting to exhale (1995)',
 'insider, the (1999)',
 'american beauty (1999)',
 'soul food (1997)',
 'groundhog day (1993)',
 'rock, the (1996)',
 'speed (1994)',
 'anna and the king (1999)',
 'thin red line, the (1998)',
 'postino, il (the postman) (1994)',
 'eyes wide shut (1999)',
 'he got game (1998)',
 'matrix, the (1999)',
 'buffalo 66 (1998)',
 "devil's own, the (1997)",
 'dolores claiborne (1994)',
 'people vs. larry flynt, the (1996)',
 'crimson tide (1995)',
 'desperado (1995)',
 'hamlet (1996)',
 'rudy (1993)',
 "william shakespeare's romeo and juliet (1996)",
 "schindler's list (1993)",
 'firm, the (1993)',
 'deconstructing harry (1997)',
 'akira (1988)',
 'ghost in the shell (kokaku kidotai) (1995)',
 'good will hunting (1997)',
 'cyrano de bergerac (1990)',
 'edward scissorhands (1990)',
 'chasing amy (1997)',
 'prince of tides, the (1991)',
 'what dreams may come (1998)',
 'jfk (1991)',
 'mask of zorro, the (1998)',
 'fargo (1996)',
 'heaven & earth (1993)',
 'midnight in the garden of good and evil (1997)',
 'six degrees of separation (1993)',
 'hilary and jackie (1998)',
 'shine (1996)',
 'misérables, les (1995)',
 'malcolm x (1992)',
 'face/off (1997)',
 'bridges of madison county, the (1995)',
 'star wars: episode vi - return of the jedi (1983)',
 'goodfellas (1990)',
 'interview with the vampire (1994)',
 'awakenings (1990)',
 'backdraft (1991)',
 'alive (1993)',
 'scent of a woman (1992)',
 'titanic (1997)',
 'inkwell, the (1994)',
 'patriot games (1992)',
 'north by northwest (1959)',
 'bodyguard, the (1992)',
 'gattaca (1997)',
 'men in black (1997)',
 'braveheart (1995)',
 'taxi driver (1976)',
 'far and away (1992)',
 'girl, interrupted (1999)',
 'cop land (1997)',
 'godfather: part iii, the (1990)',
 'nixon (1995)',
 'saving private ryan (1998)',
 "what's eating gilbert grape (1993)",
 'like water for chocolate (como agua para chocolate) (1992)',
 'casino (1995)',
 'legends of the fall (1994)',
 'sense and sensibility (1995)',
 'beloved (1998)',
 'jurassic park (1993)',
 'my crazy life (mi vida loca) (1993)',
 'true romance (1993)',
 'man in the iron mask, the (1998)',
 'howards end (1992)',
 'kundun (1997)',
 "eve's bayou (1997)",
 'hard-boiled (lashou shentan) (1992)',
 'great expectations (1998)',
 'mariachi, el (1992)',
 'high fidelity (2000)',
 'shakespeare in love (1998)',
 'red violin, the (le violon rouge) (1998)',
 "general's daughter, the (1999)",
 'adventures of priscilla, queen of the desert, the (1994)',
 'powder (1995)',
 'leaving las vegas (1995)',
 'life is beautiful (la vita è bella) (1997)',
 'clear and present danger (1994)',
 'welcome to the dollhouse (1995)',
 'american history x (1998)',
 'cruel intentions (1999)',
 'thelma & louise (1991)',
 'boogie nights (1997)',
 "boys don't cry (1999)",
 'joy luck club, the (1993)',
 'run lola run (lola rennt) (1998)',
 'robin hood: prince of thieves (1991)',
 'arachnophobia (1990)',
 'nell (1994)',
 'dead man walking (1995)',
 'few good men, a (1992)',
 'donnie brasco (1997)',
 'jerry maguire (1996)',
 'truman show, the (1998)',
 'gone in 60 seconds (2000)',
 'philadelphia (1993)',
 'x-men (2000)',
 'wallace & gromit: the best of aardman animation (1996)',
 'mask, the (1994)',
 'seven (se7en) (1995)',
 'green mile, the (1999)',
 'cider house rules, the (1999)',
 'l.a. confidential (1997)',
 'ronin (1998)',
 'clerks (1994)',
 'apollo 13 (1995)',
 'boiler room (2000)',
 'toy story (1995)',
 'insider, the (1999)',
 'american beauty (1999)',
 'meet the parents (2000)',
 'usual suspects, the (1995)',
 'groundhog day (1993)',
 'time to kill, a (1996)',
 'frequency (2000)',
 'speed (1994)',
 'dances with wolves (1990)',
 'rules of engagement (2000)',
 "bug's life, a (1998)",
 'out of sight (1998)',
 'silence of the lambs, the (1991)',
 'matrix, the (1999)',
 'pretty woman (1990)',
 'quiz show (1994)',
 'wedding singer, the (1998)',
 'crumb (1994)',
 'rudy (1993)',
 'cape fear (1991)',
 "schindler's list (1993)",
 'magnolia (1999)',
 'searching for bobby fischer (1993)',
 'fugitive, the (1993)',
 'good will hunting (1997)',
 'close shave, a (1995)',
 'antz (1998)',
 'pi (1998)',
 'chasing amy (1997)',
 "there's something about mary (1998)",
 'as good as it gets (1997)',
 'swingers (1996)',
 'shawshank redemption, the (1994)',
 'fargo (1996)',
 'star trek: first contact (1996)',
 'sling blade (1996)',
 'hurricane, the (1999)',
 'chicken run (2000)',
 'star wars: episode vi - return of the jedi (1983)',
 'goodfellas (1990)',
 'my cousin vinny (1992)',
 'grosse pointe blank (1997)',
 'fight club (1999)',
 'wrong trousers, the (1993)',
 'return to paradise (1998)',
 'titanic (1997)',
 "wayne's world (1992)",
 'league of their own, a (1992)',
 'gattaca (1997)',
 'emma (1996)',
 'contact (1997)',
 'godfather: part ii, the (1974)',
 'grand day out, a (1992)',
 'three kings (1999)',
 'saving private ryan (1998)',
 'toy story 2 (1999)',
 'casino (1995)',
 'jurassic park (1993)',
 'reservoir dogs (1992)',
 'casablanca (1942)',
 'kolya (1996)',
 'erin brockovich (2000)',
 'mission: impossible 2 (2000)',
 'trainspotting (1996)',
 'tango lesson, the (1997)',
 'age of innocence, the (1993)',
 'remember the titans (2000)',
 'big night (1996)',
 'boat, the (das boot) (1981)',
 'when harry met sally... (1989)',
 'leaving las vegas (1995)',
 'life is beautiful (la vita è bella) (1997)',
 'clear and present danger (1994)',
 'gone with the wind (1939)',
 'cutting edge, the (1992)',
 'sixth sense, the (1999)',
 'rain man (1988)',
 'run lola run (lola rennt) (1998)',
 'hype! (1996)',
 'bronx tale, a (1993)',
 "midsummer night's dream, a (1999)",
 'mission: impossible (1996)',
 'star wars: episode i - the phantom menace (1999)',

In [166]:
ratings['name'] = ratings_movie_name

In [167]:
del ratings['movie_id']
del ratings['timestamp']
ratings.head()

   user_id  count1                                    name
0        1       5  one flew over the cuckoo's nest (1975)
1        1       3        james and the giant peach (1996)
2        1       3                     my fair lady (1964)
3        1       4                  erin brockovich (2000)
4        1       5                    bug's life, a (1998)

In [168]:
a = len(ratings['name'].unique()) # ratings에 있는 유니크한 영화 개수
b = len(ratings['user_id'].unique()) # rating에 있는 유니크한 사용자 수 
c = ratings.groupby('name')['user_id'].count()
print(f'ratings에 있는 유니크한 영화 개수 : {a} \nratings에 있는 유니크한 사용자 수 : {b}')
print('인기 많은 영화 수 정렬 :\n',c.sort_values(ascending=False).head(30))

ratings에 있는 유니크한 영화 개수 : 3628
ratings에 있는 유니크한 사용자 수 : 6039
인기 많은 영화 수 정렬 :
 name
american beauty (1999)                                   3211
star wars: episode iv - a new hope (1977)                2910
star wars: episode v - the empire strikes back (1980)    2885
star wars: episode vi - return of the jedi (1983)        2716
saving private ryan (1998)                               2561
terminator 2: judgment day (1991)                        2509
silence of the lambs, the (1991)                         2498
raiders of the lost ark (1981)                           2473
back to the future (1985)                                2460
matrix, the (1999)                                       2434
jurassic park (1993)                                     2413
sixth sense, the (1999)                                  2385
fargo (1996)                                             2371
braveheart (1995)                                        2314
men in black (1997)                                      2297
schindler's list (1993)                                  2257
princess bride, the (1987)                               2252
shakespeare in love (1998)                               2213
l.a. confidential (1997)                                 2210
shawshank redemption, the (1994)                         2194
godfather, the (1972)                                    2167
groundhog day (1993)                                     2121
e.t. the extra-terrestrial (1982)                        2102
being john malkovich (1999)                              2066
ghostbusters (1984)                                      2051
pulp fiction (1994)                                      2030
forrest gump (1994)                                      2022
terminator, the (1984)                                   2019
toy story (1995)                                         2000
fugitive, the (1993)                                     1941
Name: user_id, dtype: int64

In [169]:
my_favorite = ['toy story (1995)', 'Jumanji (1995)', 'matrix, the (1999)', 'terminator, the (1984)', 'back to the future (1985)']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': [6041]*5, 'name': my_favorite, 'count1':[5]*5})

if not ratings.isin({'user_id':['6041']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    ratings = ratings.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다.
ratings.tail()

   user_id  count1                       name
0     6041       5           toy story (1995)
1     6041       5             Jumanji (1995)
2     6041       5         matrix, the (1999)
3     6041       5     terminator, the (1984)
4     6041       5  back to the future (1985)

In [170]:
movie_data = {v:k for k,v in enumerate(ratings['name'].unique())}
user_id_data = {v:k for k,v in enumerate(ratings['user_id'].unique())}

In [171]:
temp_user_data = ratings['user_id'].map(user_id_data.get).dropna()
if len(temp_user_data) == len(ratings):
    print('user_id_cloumn indexing OK!!')
    ratings['user_id'] = temp_user_data
else:
    print('user_id_cloumn indexing Fail !!')

temp_movie_ratings = ratings['name'].map(movie_data.get).dropna()
if len(temp_movie_ratings) == len(ratings):
    print('movie colmn indexing OK!')
    ratings['name'] = temp_movie_ratings
else:
    print('movie colmn indexing Fail!')

user_id_cloumn indexing OK!!
movie colmn indexing OK!

In [172]:
ratings

    user_id  count1  name
0         0       5     0
1         0       3     1
2         0       3     2
3         0       4     3
4         0       5     4
..      ...     ...   ...
0      6039       5    40
1      6039       5  3628
2      6039       5   124
3      6039       5   200
4      6039       5    22

[836483 rows x 3 columns]

In [173]:
# num_user = max(ratings['user_id'])+1
# num_movie = max(ratings['name'])+1
num_user = ratings['user_id'].nunique()
num_movie = ratings['name'].nunique()


csr_data = csr_matrix((ratings.count1, (ratings.user_id, ratings.name)), shape= (num_user, num_movie))
csr_data

<6040x3629 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Row format>

In [174]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [175]:
als_model = AlternatingLeastSquares(factors=1000, regularization=0.01, use_gpu=False, iterations=50, dtype=np.float32)
csr_data_transpose = csr_data.T
als_model.fit(csr_data_transpose)

  0%|          | 0/50 [00:00<?, ?it/s]

In [176]:
myid, movie_name = user_id_data[6041], movie_data['Jumanji (1995)']
myid_vector, movie_vector = als_model.user_factors[myid], als_model.item_factors[movie_name]

In [177]:

np.dot(myid_vector,movie_vector)

0.0352154

In [178]:
movie1_vector = als_model.item_factors[movie_data['tarzan (1999)']]
np.dot(myid_vector,movie1_vector)

-0.008324086

In [179]:
def get_similar_movie(movie_name: str): # 위 코드 함수화
    movie_id = movie_data[movie_name]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [[i[0]] for i in similar_movie]
    return similar_movie

In [192]:

get_similar_movie('hard rain (1998)')

[[2896],
 [3441],
 [3440],
 [3625],
 [3624],
 [3628],
 [3552],
 [3551],
 [3525],
 [3442]]

In [193]:
movie_re = als_model.recommend(myid,csr_data,N=20,filter_already_liked_items=True)
movie_re[4]

(928, 0.038933646)

In [203]:
[idx_to_movie[i[0]] for i in movie_re]

NameError: name 'idx_to_movie' is not defined